<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GetHub"
        tools:targetApi="31">
        <activity
            android:name=".ui.project.acceptedbidproject.AcceptedBidProjectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.project.postedproject.PostedProjectStatusDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.project.postedproject.PostedProjectStatusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.projectbids.SearchProjectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.project.postproject.PostProjectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.project.bidproject.BidProjectStatusDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.project.bidproject.BidProjectStatusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.gethub.GethubAddPartnerFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.gethub.GethubAddPartnerScanQRActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.gethub.CaptureActivityPortrait"
            android:screenOrientation="sensorPortrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.gethub.GethubAddPartnerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.gethub.GethubPartnerListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.projectbids.HomeDetailProjectBidsFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.projectbids.HomeDetailProjectBidsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.projectbids.HomeCariProjectBidsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mygethub.tentangsaya.HomeKelolaMyGethubEditTentangSayaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mygethub.product.HomeKelolaMyGethubEditProdukActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mygethub.product.HomeKelolaMyGethubTambahProdukActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mygethub.certification.HomeKelolaMyGethubTambahSertifikasiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mygethub.certification.HomeKelolaMyGethubEditSertifikasiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mygethub.link.HomeKelolaMyGethubTambahLinkActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.userpublicprofile.UserPublicProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mygethub.HomeKelolaMyGethubGantiDesignActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mygethub.HomeKelolaMyGethubGantiDesignPreviewWebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mygethub.HomeKelolaMyGethubActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.caritalent.HomeCariTalentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.deteksiproject.HomeProjectDetectorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.deteksiproject.HomeProjectDetectorDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.TermsConditionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.completeprofile.CompleteProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.completeprofile.CompleteProfileValidationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".ui.home.HomeDetailInformationHubActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Trigger Google Play services to install the backported photo picker module. -->
        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>

            <meta-data
                android:name="photopicker_activity:0:required"
                android:value="" />
        </service>
    </application>

</manifest>